
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 8pt;
  width: 250px;
  padding: 0px;
}

#PassGen {
  width: 100%;
  background-color: #fd3;
}

h1 {
  color: #334;
  border: 2px outset #ccc;
  background-color: #99c;
  padding: 12px;
  margin: 0px;
  text-shadow: 2px 2px 8px #eef
}

#form { 
  padding: 8px;
  border-left: 1px outset #ccc;
  border-right: 1px outset #ccc;
  border-bottom: 1px outset #ccc;
}

#submit {
  padding: 8px 24px;
  margin: 8px;  
}

#error {
  background-color: #fcc;
  margin: 8px;
  padding: 8px;
  font-size: 10pt;
}

#result {
  background-color: #cfc;
  margin: 8px;
  padding: 8px;
  font-size: 10pt;
}

#autofillContainer {
  margin: 4px;
  padding: 4px; 
}

#autofill {
  background-color: #ccf;
  padding: 8px;
  font-size: 8pt;
  border: 2px outset #ccc;
}

#autofill:hover {
  cursor: pointer;
}

#mainInputs {  
  width: 100%;
  margin: 4px;
  padding: 4px;
}

#passOptions {
  width: 100%;
  margin-bottom: 8px;
}

#separator {
  border-bottom: 1px solid #b92;
  margin: 4px;
}

.tooltipContainer {
    position:relative;
}
.tooltip {
    display:none;
    text-align: left;
}

.tooltipContainer:hover .tooltip {
    display: inline-block;
    background-color: #fea;
    border-radius:5px;
    box-shadow:1px 1px 3px gray;
    position:absolute;
    padding: 5px;
    top: 1.3em;
    left: -100px;
    width: 100px;
    font-size: 8pt;    
}

#autofill .tooltipContainer:hover .tooltip {
  top: -75px;
}